@* @model Piranha.Models.SitemapItem *@

@foreach (var item in (await WebApp.Site.Sitemap.ForUserAsync(User, Auth)).Where(i => !i.IsHidden))
{
    @if (item.Items.Count > 0)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="@WebApp.Url(item)" id="navbarDropdown" data-toggle="dropdown">
                @item.MenuTitle
            </a>
            <ul class="dropdown-menu">

                @foreach (var child in item.Items)
                {
                    if (child.Items.Count > 0)
                    {
                        <li>
                            <a class="dropdown-item" href="@WebApp.Url(child)"> @child.MenuTitle &raquo</a>
                            <ul class="submenu dropdown-menu">
                                @foreach (var grandChild in child.Items)
                                {
                                    if (grandChild.Items.Count > 0)
                                    {
                                        <li>
                                            <a class="dropdown-item" href="@WebApp.Url(grandChild)"> @grandChild.MenuTitle &raquo</a>
                                            <ul class="submenu dropdown-menu">
                                                @foreach (var grandGrandChild in grandChild.Items)
                                                {
                                                    <li>
                                                        <a class="dropdown-item" href="@WebApp.Url(grandGrandChild)"> @grandGrandChild.MenuTitle</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="dropdown-item" href="@WebApp.Url(grandChild)">@grandChild.MenuTitle</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="dropdown-item" href="@WebApp.Url(child)">@child.MenuTitle</a>
                        </li>
                    }
                }
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="@WebApp.Url(item)">@item.MenuTitle</a>
        </li>
    }
}